@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-zoom {
    @apply relative flex items-center justify-center overflow-hidden rounded-r-2xl shadow-xl;
  }

  .card-zoom-image {
    @apply absolute h-full w-full transform bg-cover bg-center transition-all duration-500 ease-in-out;
  }

  .card-zoom-text {
    @apply absolute scale-150 transform text-7xl font-black text-gray-50 opacity-60 transition-all duration-500 ease-in-out;
  }

  .card-zoom:hover .card-zoom-image {
    @apply scale-150;
  }

  .card-zoom:hover .card-zoom-text {
    @apply scale-100;
  }
}

body {
  margin: 0;
  font-family: "Open Sans Condensed", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(17, 24, 39) 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
